<div id="btnWrapper">
  <div class="btn"><img src="assets/icons/low_beam.svg" class="filter_gray"></div>
  <div class="btn"><img src="assets/icons/high_beam.svg" class="filter_blue"></div>
  <div class="btn"><img src="assets/icons/aux_front.svg" class="filter_blue"></div>
  <div class="btn"><img src="assets/icons/aux_top.svg" class="filter_blue"></div>
  <div class="btn"><img src="assets/icons/beacon.svg" class="filter_orange"></div>
  <div class="btn"><img src="assets/icons/hazard.svg" class="filter_red"></div>
  <div class="btn"><img src="assets/icons/parking_brake.svg" class="filter_red"></div>
  <div class="btn"><img src="assets/icons/trailer.svg" class="filter_green"></div>
  <!-- >
  wipers
  cruise control
  retarter?
  diff lock
  lift wheel
  horn
  <-->
</div>
